<?xml version='1.0' encoding='UTF-8'?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/modeles/maitre.xhtml">


    <ui:define name="titre">
        Édition du Département
    </ui:define>

    <ui:define name="contenu">
        <h:form id="formEditDepartement">
            
            <p:panel header="Édition du département">
                <h:panelGrid columns="2" cellpadding="5">
                    
                    <!-- Identifiant (non modifiable) -->
                    <h:outputLabel for="id" value="Identifiant:" />
                    <p:inputText id="id" value="#{departementBean.departement.id}" disabled="true"/>
                    
                    <!-- Libellé -->
                    <h:outputLabel for="libelle" value="Libellé:" />
                    <p:inputText id="libelle" value="#{departementBean.departement.libelle}" required="true" label="Libellé"/>

                    <!-- Responsable -->
                    <h:outputLabel for="responsable" value="Responsable:" />
                    <p:selectOneMenu id="responsable" value="#{departementBean.departement.responsable}" converter="employeConverter">
                        <f:selectItem itemLabel="Sélectionnez un employé" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{departementBean.listeEmployes}" var="emp" itemLabel="#{emp.nom} #{emp.prenom}" itemValue="#{emp}"/>
                    </p:selectOneMenu>

                    <!-- Département Parent -->
                    <h:outputLabel for="parent" value="Département Parent:" />
                    <p:selectOneMenu id="parent" value="#{departementBean.departement.parent}" converter="departementConverter">
                        <f:selectItem itemLabel="Sélectionnez un département parent" itemValue="" noSelectionOption="true"/>
                        <f:selectItems value="#{departementBean.listeDepartements}" var="dept" itemLabel="#{dept.libelle}" itemValue="#{dept}"/>
                    </p:selectOneMenu>

                </h:panelGrid>

                <p:commandButton value="Mettre à jour" action="#{departementBean.mettreAJourDepartement}" ajax="false"/>
                <p:commandButton value="Annuler" action="retour" ajax="false"/>
                
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
