<?xml version='1.0' encoding='UTF-8'?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/modeles/maitre.xhtml"
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="titre">
        Liste des Départements
    </ui:define>

    <ui:define name="contenu">
        <h:form id="formListeDepartements">

            <p:dataTable var="departement" value="#{departementBean.listeDepartements}" paginator="true" rows="10"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         emptyMessage="Aucun département trouvé">

                <p:column headerText="ID">
                    <h:outputText value="#{departement.id}"/>
                </p:column>
                <p:column headerText="Libellé">
                    <h:outputText value="#{departement.libelle}"/>
                </p:column>
                <p:column headerText="Responsable">
                    <h:outputText value="#{departement.responsable.nom} #{departement.responsable.prenom}"/>
                </p:column>
                <p:column headerText="Département Parent">
                    <h:outputText value="#{departement.parent.libelle}"/>
                </p:column>

                <!-- Actions comme éditer ou supprimer -->
                <p:column headerText="Actions">
                    <p:commandButton update=":formEditDepartement" oncomplete="PF('dlgEditDepartement').show()" icon="pi pi-pencil" title="Éditer"/>
                    <p:commandButton actionListener="#{departementBean.supprimerDepartement(departement)}" update=":formListeDepartements" icon="pi pi-trash" title="Supprimer" ajax="true"/>
                </p:column>

            </p:dataTable>

            <!-- Dialog pour l'édition -->
            <p:dialog header="Édition du département" widgetVar="dlgEditDepartement" modal="true" responsive="true">
                <ui:include src="editDepartement.xhtml"/>
            </p:dialog>

        </h:form>
    </ui:define>
</ui:composition>
