<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="jakarta.faces.html"
                xmlns:ui="jakarta.faces.facelets"
                template="/modeles/maitre.xhtml">

    <ui:define name="titre">
        Acceuil
    </ui:define>
        
    <ui:define name="contenu">
       AZERTY
    </ui:define>

</ui:composition>